/* 
    Created on : Sep 19, 2017
    Author     : Larry Rodrigues
    SWE 642 Fall 2017
*/
div.fixed_bottom_right {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    border: 1px solid lightgreen;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

body.welcome {
    background-color: lightgrey;
    margin:0;
}

.top_header {
    text-align: center;
    text-shadow: 4px 4px yellow;
}

h1 {
    color:blue;
}

.gneric_style {
    color:black;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

div.text_block {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 5px 10px 5px;
}
p.welcome_text {
    color:black;
}

table.survey_option_table {
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid black;
}

table.survey_option_table tr {
    vertical-align:top;
}

table.survey_option_table td {
    padding: 5px;
    border-bottom: 1px solid black;   
}
